MetaTrader5
pandas
numpy
matplotlib
seaborn
scikit-learn
#tensorflow
keras-tuner
pandas-ta
openai
python-dotenv
streamlit
pip freeze > requirements.txt
git add requirements.txt
git commit -m "Shto requirements.txt"
git push